*{
    box-sizing: border-box;
}

body{
    font-family: 'Arial', Helvetica, sans-serif;
    font-weight: 100;
    padding: 20px 5px 0 15px;
    background-color: rgba(166, 76, 142, 0.113)
}

.container{
    width:90%;
    max-width: 1200px;
    margin:auto;
}

h1{
    font-family: monospace;
    text-align: center ;
    color: black;
}

h4{
    background-position: center;
    background-size: cover;
    text-align: right;
    color: white;
    background-image: url(Portfolio_Hotel/images/valeriia-bugaiova-_pPHgeHz1uk-unsplash.jpg);
    height:320px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

hr{
    color:rgb(74, 3, 74);
    border-color: blue;
    height: 1px;
}

.navbar ul{
    list-style-type: none;
    padding: 15px;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #2c3e50;
}

.navbar a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
    font-family: Arial, sans-serif;
}

.navbar a:hover{ color:#fbc3fc;}

html{ scroll-behavior: smooth;}

.WriteUp{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    padding-bottom: 30px;
    text-align: center;
}

.btn-contact{
    background-color: #042a3994;
    color: white;
    padding: 8px 10px;
    border-radius: 25px;
    transition: transform 0.3s, background-color 0.3s;
}

.btn-contact:hover{
    background-color: #0056b3;
    transform: scale(1.1);
}

.profile-container{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.profile-pic{
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

p{
    text-indent: 2em;

}

.section-title{
    text-align: center;
    text-decoration:underline;
    margin-bottom: 30px;
    margin-top: 60px;
    color:#2c3e50;

}

.skills-grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skills-card{
    background: white;
    border: 1px solid #bdc3c7;
    padding: 30px;
    padding-bottom: 20px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.skills-card:hover{
    transform: translateY(-10px);
    border-color: #3498db;
}

.project-grid {
    display: grid;
    /* This creates 2 columns on desktop, 1 on mobile automatically! */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding-bottom: 2px;
}

.project-card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-info {
    padding: 20px;
}

.project-link {
    color: #3498DB;
    text-decoration: none;
    font-weight: bold;
}

.category-tag {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: #3498DB;
    font-weight: bold;
    letter-spacing: 1px;
}

.tech-stack span {
    font-size: 0.8rem;
    background: #f0f0f0;
    padding: 10px 8px;
    border-radius: 4px;
    margin-right: 5px;
    color: #7f8c8d;
}

.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.05);
}

.contact-info, .contact-form {
    flex: 1; /* Both sides take up equal space */
    min-width: 40%;
}

/* Make the inputs look modern */
.contact-form input, .contact-form textarea {
    width:93%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #f0f0f0;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.4s ease;
}

/* The "Glow" effect when typing */
.contact-form input:focus, .contact-form textarea:focus {
    border-color: #3498DB;
}

.contact-form button {
    width: 93%; 
    border: none;
    cursor: pointer;
}

/*The code below here only triggers when screen width is =< than 780px... Hopefully :) */
@media (max-width: 780px) {
    .contact-wrapper { 
        flex-direction: column;
        padding:40px; 
    }
} 

.WriteUp h1{
    font-size: 2rem;
}

.navbar ul{
    gap: 10px;
}

footer{
    border-radius:8px;
    text-align: center;
    background-color: #7f8c8d;
    padding: 10px 0 10px 0;
    font-family: 'courier';
    font-weight: 600;
    position:static;
    bottom:100;
    right:0;
    left:0;
    width: 100%;
}

